apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ k8s_cert_dir }}/ca.crt
    server: https://{{ haproxy_ip }}:{{ apiserver_port }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:node:{{ inventory_hostname }}
  name: default
current-context: default
users:
- name: system:node:{{ inventory_hostname }}
  user:
    client-certificate: {{ k8s_cert_dir }}/kubelet-client.crt
    client-key: {{ k8s_cert_dir }}/kubelet-client.key
