apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ k8s_cert_dir }}/ca.crt
    server: https://127.0.0.1:{{ apiserver_port }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:kube-scheduler
  name: default
current-context: default
users:
- name: system:kube-scheduler
  user:
    client-certificate: {{ k8s_cert_dir }}/scheduler.crt
    client-key: {{ k8s_cert_dir }}/scheduler.key
