version: 2
ethernets:
  enp0s1:
    dhcp4: false
    addresses:
      - {{ vm_ip }}/24
    routes:
      - to: default
        via: {{ network_prefix }}.1
    nameservers:
      addresses:
        - 8.8.8.8
        - 8.8.4.4
